* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

li a:not(.active) {
    opacity: 50%;
}

.active {
    font-weight: bold;
}

.top-navbar {
    margin-right: 250px;
    margin-top: 25px;
}

.group-name {
    margin-left: 280px;
    font-weight: bold;
}

#overview-title {
    position: relative;
    left: 300px;
    top: 100px;
    width: 0px;
    font-size: 30px;
    font-weight: bold;
}

#newAccount-Btn {
    position: relative;
    top: 150px;
    left: 1200px;
    height: 50px;
    width: 270px;
    border-style: none;
    padding: 16px, 46px, 16px, 46px;
    font-weight: 500;
    color: white;
    background-color: #07CF97;
    cursor: pointer;
}