* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../Images/Customer-Employee\ -\ Create\ Account\ -\ v1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 40px;
    font-weight: bolder;
    color: #06D4A2;
}

/* Content */

.content{
    margin-left: 300px;
    margin-top: 100px;
}

form{
    margin-top: 30px;
}

select{
    float: left;
    width: 150px;
    border-color: gray;
}

.form-name{
    float: left;
    font-size: 16px;
    font-weight: bold;
    width: 300px;
}

.submit{
    height: 47px;
    padding-top: 16px;
    padding-bottom: 40px;
    padding-left: 46px;
    padding-right: 46px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #06D4A2;
    border: none;
    cursor: pointer;
    margin-left: 300px;
}

#username{
    float: left;
    width: 147px;
    border-color: gray;
}