* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page-title{
    position: relative;
    color: #07CF97;
    left: 50px;
    top: 50px;
}

body{
    background-image: url("../Images/background-design.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

/* Alles hieronder zit in de transaction-box*/ 

#dashboard-btns{
    margin-left: 230px;
}

.dashboard-btn{
    color: #FFFFFF;
    border-style: none;
    font-size: 28px;
    font-weight: bold;
    width: 350px;
    height: 180px;
    margin-top: 320px;
    margin-left: 80px;
    cursor: pointer;
}

#view-transactions-btn{
    background-color: #EE3E68;
}

#view-users-btn{
    background-color: #FFCB5D;
}

#view-accounts-btn{
    background-color: #07CF97;
}

/*================================================*/