#page-title{
    position: relative;
    color: #07CF97;
    left: 50px;
    top: 50px;
    width: fit-content;
}

/* Alles hieronder zit in de account-header*/

#account-header{
    float: left;
    margin-top: 60px;
    width: 1000px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#current-iban{
    float: left;
    position: relative;
    font-size: 20px;
    font-weight: normal;
}

#account-balance{
    float: left;
    position: relative;
    font-size: 20px;
    font-weight: normal;
    padding-left: 600px;
}

.currency-tag{
    float: right;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    width: 50px;
}

/*==============================================*/

/* Alles hieronder zit in de center-content*/

.center-content{
    margin-left: 50px;
    height: 840px;
}

.accounts-box {
    position: relative;
    height: 600px;
    float: left;
    width: 1000px;
    border: 1px solid rgba(112, 112, 112, 0.5);
    margin-right: 800px;
    padding-left: 8px;
    background-color: white;
}

#disable-account-btn{
    background-color: #EE3E68;
    color: #FFFFFF;
    border-style: none;
    float: left;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 70px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 802px;
}

/*================================================*/

/* Alles hieronder zit in de transaction-row*/

.transaction-row{
    float: left;
    margin-top: 8px;
    width: 982px;
    font-size: 20px;
}

.date-tag{
    float: left;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
}

.transaction-from-to{
    float: left;
    font-weight: bold;
    padding-right: 10px;
    width: 75px;

}

.transaction-iban{
    float: left;
}

.transaction-operator{
    float: left;
    padding-left: 450px;
    padding-right: 15px;
    font-weight: bold;
}

.transaction-amount{
    float: left;
    padding-left: 

}

.hr-line{
    height: 1px;
    width: 980px;
    margin-top: 5px;
    float: left;
    background-color: #000000;
}

/*================================================*/


#material-sidethingy-img {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 600px;
}
