body {
    background-image: url(../Images/Customer-Employee\ -\ Create\ Account\ -\ v1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-text {
    margin-top: 100px;
    margin-left: 250px;
}

h1 {
    opacity: 0.5;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    color: rgba(238, 62, 104, 1);
    letter-spacing: 1.5px;
}

h2 {
    line-height: 0.8;
    width: 700px;
    margin-top: 25px;
    text-align: left;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 2px;
}

#submit {
    height: 47px;
    padding-top: 16px;
    padding-bottom: 40px;
    padding-left: 46px;
    padding-right: 46px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #06D4A2;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}
