a {
    text-decoration: none;
}

body {
    background-image: url(../Images/EMPLOYEE\ -\ View\ Transactions\ -\ v1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#AllUsers {
    position: relative;
    top: 40px;
    left: 280px;
    height: 750px;
    width: 48%;
}

#Users-box {
    float: left;
    position: relative;
    width: 100%;
    height: 750px;
    border: solid 1px gray;
}

.user-box {
    float: left;
    background-color: white;
    border: solid 1px gray;
    width: 100%;
    height: 80px;
    padding-left: 20px;
}

#SearchBar {
    float: left;
    position: relative;
    margin-bottom: 8px;
    height: 35px;
    width: 60%;
    border-style: none;
    border-bottom: 1px solid #707070;
    padding-left: 10px;
    font-size: 20px;
}

#NewUser {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: #0fd68a;
    margin-top: -10px;
    width: 200px;
    height: 50px;
    float: right;
    text-align: center;
    padding-top: 10px;
}

#NewUser:hover {
    background-color: #10eb97;
    width: 200px;
    height: 50px;
    float: right;
    text-align: center;
    padding-top: 10px;
}

.form-input {
    border-style: none;
    width: 90%;
    padding-left: 10px;
}

.userName {
    font-size: 25px;
    margin-bottom: 10px
}

.Email {
    color: #828282;
    font-size: 20px;
}

.arrow {
    float: right;
    margin-right: 20px;
    margin-top: 30px;
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

.bottomright {
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    right: 0;
}

.bottomleft {
    position: absolute;
    padding-bottom: 10px;
    padding-left: 10px;
    bottom: 0;
    left: 0;
}

#register-welcome {
    color: #04b56e;
    padding-bottom: 20px
}
