* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg1 {
    position: absolute;
    float: right;
    left: 1120px;
    top: 135px;
    z-index: -1;
}

.bg2  {
    position: absolute;
    float: left;
    bottom: -0px;
    z-index: -1;
}

#overview-title {
    position: relative;
    left: 300px;
    top: 120px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;
    color: #07CF97;
}

.user-info-form {
    position: relative;
    top: 150px;
    left: 300px;
    width: 700px;
}

.formlbl {
    font-size: 25px;
    font-weight: bold;
}

.forminput {
    float: right;
    border-style: none;
    border-bottom: 1px solid #707070;
    width: 400px;
    position: relative;
    left: 50px;
    height: 30px;
}

.userBtn {
    position: relative;
    cursor: pointer;
    height: 45px;
    width: 150px;
    top: 30px;
    left: 375px;
    border-style: none;
    padding: 25px, 100px, 25px, 100px;
    font-weight: 600;
    color: white;
}

#updateUserBtn {
    background-color: #07CF97;
    position: relative;
    left: 425px;
}

#disableUserBtn {
    background-color: #EE3E68;
}